@import url(http://fonts.googleapis.com/css?family=Audiowide);

@blue: #517EA6;
@green: #014E59;
@sandy: #F2A664;
@brown: #5B402F;
@peach: #F28A63;
@grey: #272b30;
@white: #FEFAFC;

.purple {
  background-color: @green;
}
.brown {
  background-color: @brown;
}
.green {
  background-color: @blue;
}

html {
  background-color: @white;
}

header {
  background-color: @green;
  color: @sandy;
  overflow: auto;
  padding: 60px 0;
  position: relative;
  margin-bottom: 10px;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

#appTitle {
  font-family: Audiowide;
  color: inherit;
}

#appTitle:hover {
  text-decoration: none;
}

.boxout {
  width: 100%;
  background-color: @blue;
  overflow: auto;
  padding: 10px;
}

.userGames {
  background-color: @peach;
}