/* CSS declarations go here */
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

.fullWidth {
    width : 100%;
    margin: 0 auto;
}

#main {
    overflow-y: auto;
    overflow-x: hidden;
}

header, footer {
    
}

.t-serif {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

header {
    margin: 0;
    height: 300px;
    background-image: url(/images/header.png);
}
.header__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

footer {
    
}

#raceCard {
    border: 1px dashed gray;
    padding: 3px;
}
table.startingUnits {
    border-collapse: collapse;
}
table.startingUnits td {
    border: 1px solid black;
    padding: 2px;
}

#raceCard { 
    font-size: small;
}
#raceCard h3 {
    font-size: large;
}
#raceCard h4 {
    font-size: medium;
}
#raceCard  li {
    margin-bottom: 10px;
}

