/* CSS declarations go here */
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
.fullWidth {
    width : 100%;
}
.content {
    width : 75%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
#main {
    overflow-x: hidden;
}

header, footer {
    background-image: url(/images/header.png);
}

header {
    margin: 0;
    height: 320px;
    padding-top: 100px;
}
.header__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fa9e00;
}
.header__title__a {
    color: inherit;
}

.breathe {
    padding: 2em 0;
}

footer {
    background-position: bottom left;
    height: 155px;
}

#raceCard {
    border: 1px dashed gray;
    padding: 3px;
}
table.startingUnits {
    border-collapse: collapse;
}
table.startingUnits td {
    border: 1px solid black;
    padding: 2px;
}

#raceCard { 
    font-size: small;
}
#raceCard h3 {
    font-size: large;
}
#raceCard h4 {
    font-size: medium;
}
#raceCard  li {
    margin-bottom: 10px;
}

.boxout {
    background-color:  purple;
    padding: 10px;
    margin-bottom: 10px;
}

.u-margin {
    margin-bottom: 10px;
}
.u-margin--sm {
    margin-bottom: 3px;
}
