/* CSS declarations go here */
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
.fullWidth {
    width : 100%;
}
.content {
    width : 75%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
#main {
    overflow-x: hidden;
}

header, footer {
    background-image: url(/images/header.png);
}

header {
    margin: 0;
    height: 320px;
    padding-top: 100px;
}
.header__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fa9e00;
}
.header__title__a {
    color: inherit;
}

.breathe {
    padding: 2em 0;
}

footer {
    background-position: bottom left;
    height: 155px;
}

table.startingUnits {
    border-collapse: collapse;
}
table.startingUnits td {
    padding: 2px;
}


.boxout {
    background-color:  purple;
    padding: 10px;
    margin-bottom: 10px;
}

.u-margin {
    margin-bottom: 10px;
}
.u-margin--sm {
    margin-bottom: 3px;
}
.login-button {
    width: 160px;
}
u-float-left {
    float: left;
}
u-overflow-auto {
    overflow: auto;
}
c-float-list__item {
    float: left;
    margin: 0;
    padding: 0;
}
.players__player {
    
}
.racePoolCheckbox .checkbox {
    width: 200px;
    float: left;
    height: 30px;
    margin: 0;
    padding: 0 0 0 15px;
}
.racePoolCheckbox label {
    display: block;
}
.rounded10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.raceCard {
    width: 375px;
    font-size: small;
    padding: 15px;
    margin: 0 5px 20px 0;
    display: inline-block;
    vertical-align:top;
    color: white;
    position: relative;
}
.raceCard .selectRace {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    padding: 10px 20px;
    display: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: lightgray;
    background-color: #555;
    color: orange;
    text-transform: uppercase;
    text-decoration: none;
}
#raceSelections .raceCard .selectRace {
    display: block;
}
.raceCard__title {
    font-size: large;
}
.raceCard__subtitle {
    font-size: medium;
}
.raceCard  li {
    margin-bottom: 8px;
}
.raceCard  table {
    background-color: whitesmoke;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.raceCard  table td {
    padding: 3px 8px;
}

.purple {
    background-color: purple;
}
.brown {
    background-color: brown;
}
.green {
    background-color: darkolivegreen;
}

