@import url(http://fonts.googleapis.com/css?family=Audiowide);

@blue: #517EA6;
@green: #014E59;
@sandy: #F2A664;
@brown: #5B402F;
@peach: #F28A63;
@grey: #333333;

header {
  background-color: @green;
  color: @sandy;
  overflow: auto;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#appTitle {
  font-family: Audiowide;
  color: inherit;
}

#appTitle:hover {
  text-decoration: none;
}