<template name="createGame">
    {{#autoForm schema="Games" id="insertGameForm"}}
    <fieldset id="details">
        <legend>Game details</legend>
        {{afQuickField 'name' id='name'}}
        {{afQuickField 'date' id='date'}}
        {{afQuickField 'location' id='location'}}
        {{afQuickField 'description' rows='5' id='description'}}
    </fieldset>
    <fieldset id="options">
        <legend>
            Game options
        </legend>
        {{afQuickField 'selectionMethod' options=selectionMethod noselect="true" title=description class='selectionMethod'}}
        {{#if isCountRaces}}
            {{afQuickField 'countRaces' options=countRaces id='countRaces'}}
        {{/if}}
        {{afQuickField 'maxPlayers' options=maxPlayers id='maxPlayers'}}
        {{afQuickField 'racePool' options=racePool noselect="true" checked='checked' class='racePool'}}
    </fieldset>
    <a href="/" class="btn cancel">Cancel</a>
    <button type="submit" class="btn btn-primary insert">Add game</button>
    {{/autoForm}}
</template>