<template name="createDialog">
    <div class="mask"> </div>
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close cancel">&times;</button>
            <h3>Add Game</h3>
        </div>

        <div class="modal-body">
            <label>Title</label>
            <input type="text" class="title span5"/>

            <label>Date</label>
            <input type="text" class="date"/>

            <label>Location</label>
            <input type="text" class="location"/>

            <label>Details</label>
            <textarea class="description span5"></textarea>

            <div id="newGameOptions">
                <label>Selection method</label>
                {{#each selectionMethod}}
                    <input name="selectionMethod" type="radio" value="{{method}} checked="{{checked}}">{{label}}</input>
                {{/each}}
                
                {{#if isCountRaces}}
                <select name="noRaces" id="noRaces">
                    {{#each countRaces}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                {{/if}}
                
                <label>Max number of players</label>
                <select name="maxPlayers" id="maxPlayers">
                    {{#each maxPlayers}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                
            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn cancel">Cancel</a>
            <a href="#" class="btn btn-primary save">Add Game</a>
        </div>
    </div>
</template>