<template name="createGame">
    {{#autoForm collection="Games" id="insertGameForm" class="row"}}

    <fieldset id="details" class='col-md-6'>
        <legend>Game details</legend>
        {{>afQuickField name='name' id='name'}}
        {{>afQuickField name='date' id='date'}}
        {{>afQuickField name='location' id='location'}}
        {{>afQuickField name='description' rows='5' id='description'}}
    </fieldset>
    <fieldset id="options" class='col-md-6'>
        <legend>
            Game options
        </legend>
        {{>afQuickField name='selectionMethod' options=selectionMethod noselect=true title=description class='selectionMethod'}}
        {{#if isCountRaces}}
        {{>afQuickField name='countRaces' options=countRaces id='countRaces'}}
        {{/if}}
        {{>afQuickField name='maxPlayers' options=maxPlayers id='maxPlayers'}}
        <span class="racePoolCheckbox u-overflow-auto">
            {{>afQuickField name='racePool' options=racePool noselect=true checked='checked' class='racePool'}}
        </span>
    </fieldset>
    <div class="row">
        <div class="col-md6"></div>
        <div class="col-md6">
            <a href="/" class="btn cancel">Cancel</a>
            <button type="submit" class="btn btn-primary">Insert</button>
        </div>
    </div>
    {{/autoForm}}
</template>