<template name="index">
    <div class="row">

        <div class="col-md-4">
            <div class="boxout">
                <h3>Upcoming games</h3>
                {{> listGames allUpcomingGames}}
            </div>
        </div>
        {{#if currentUser}}
            <div class="col-md-4">
        <div class="boxout">
            <h3>My games</h3>
            {{> listGames myGames}}
        </div>
    </div>
    <div class="col-md-4">
        <a href="/game/create" id="btnCreateGame" class="btn btn-primary">Create Game</a>
    </div>
        {{else}}
            {{>user_loggedout}}
        {{/if}}
    </div>

</template>