<template name="layout">
        <div id="wrapper" class="wrapper">
            <header class="row-fluid">
                <div class="content">

                    <h1 class="span12 header__title">
                        <a href="/" id="appTitle" class="header__title__a">Twilight Imperium Race Picker</a>
                    </h1>
                    <div class="bottom-right">    
                        {{loginButtons align="right"}}
                    </div>
                </div>
            </header>
            <section id="main" class="breathe">
                {{yield}}
            </section>
            <div class="push"></div>
        </div>
        <footer class="row-fluid">
            
        </footer>
</template>