<template name="layout">
    <section class="navBar container-fluid">
        <div class="row">
            <div class="col-md-12">
                {{> navBar }}
            </div>
        </div>
    </section>
    <header class="header container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 header__title">
                <h1>
                    <a href="/" id="appTitle" class="header__title__a">TIP</a>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 header__title">
                <p class="about">
                    Beta {{> gitVersion}}
                </p>
            </div>

            <div class="col-md-8">
                <h2 class="col-md-12">Twilight Imperium Race Picker</h2>
            </div>
        </div>
    </header>

    <section class="breathe animated fadeIn container-fluid" id="main">
        {{> yield}}
    </section>

</template>