<template name="layout">
    <header class="header container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-1 header__title">
                <h1>
                    <a href="/" id="appTitle" class="header__title__a">TIP</a>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 header__title">
                <p class="about">
                    Beta {{> gitVersion}}
                </p>
            </div>

            <div class="col-md-8">
                <h2 class="col-md-12">Twilight Imperium Race Picker</h2>
            </div>
        </div>

        <!--<div class="bottom-right">-->
        <!--{{> atNavButton}}-->
        <!--</div>-->

    </header>
    <div id="container" class="container-fluid">
        <section id="main" class="breathe animated fadeIn">
            {{> yield}}
        </section>
    </div>
</template>