<template name="raceCard">
    <div id="" class="raceCard col-md-4">
        <h3 class="raceCard__title"><a href="#" class="selectRace" data-raceId="{{_id}}" >{{name}}</a></h3>
        <div class="row">
            <div class="col-md-5">
                <h4 class="raceCard__subtitle">Starting Units</h4>
                <table class="startingUnits">

                    {{#eachMapEntries startingUnits}}
                    <tr>
                        <td>{{this.key}}</td>
                        <td>{{this.value}}</td>
                    </tr>
                    {{/eachMapEntries}}
                </table>
            </div>

            <div class="col-md-6">
                <h4 class="raceCard__subtitle">Technologies</h4>
                <ul class="technologies">
                    {{#each startingTechnologies}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="raceCard__subtitle">Abilities</h4>
                <ul class="abilities">
                    {{#each specialAbilities}}
                    <li>{{description}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
</template>