<template name="showGame">
    <h2>{{name}}</h2>
    <h3 class="row-fluid">
        {{formatDate date}}@{{location}}
    </h3>
    <div class="row-fluid" id="description">
        {{description}}
    </div>
    <div class="row-fluid">
        <h4>Players</h4>
        <ul id="players" class="">
            {{#if players.length}}
            {{#each playersForGame}}
                
                <li class="c-float-list__item players__player boxout rounded10">
                    <span class="name">{{name}}</span>
                    <span class="race">{{race}}</span>
                </li>
               
            {{/each}}
            {{else}}
                No players 
            {{/if}}
        </ul>
    </div>
     <div class="row-fluid" id="selectionMethod">
        Race selection method: {{selectionMethod}}
    </div>
    <form id="addPlayer" name="addPlayer" >
        {{#if raceSelection}}
        <label>Race</label>
            <div id="raceSelections">
                {{>listRaces raceSelection}}
            </div>
        {{else}}
            {{#if isLivePlayer}}
                You have entered this game. Your race selection:
                <div>
                    {{>raceCard myRace}}
                </div>
            {{else}}
                <a href="#" id="btnJoinGame" class="btn btn-primary">Join Game</a>
            {{/if}}
        {{/if}}
    </form>
</template>