<template name="user">

    <fieldset id="details" class='col-md-6'>
        <legend>Profile</legend>
        <div class="form-group">
            <label for="displayName" class="control-label">Display name</label>
            <p id="displayName" class="editable" data-type="textarea" data-placeholder="Enter text" data-emptytext="Click to enter text" data-rows="1">{{profile.displayName}}</p>
        </div>
    </fieldset>
    <fieldset id="password" class='col-md-6'>
        <a href="/change-password">Change password</a>
    </fieldset>

</template>