<template name="userLoggedOut">
    <div class="col-md-7" id="login-buttons">
       
        Please sign in above to view or create games
<!--        <div class="login-text-and-button">
            <div class="login-button single-login-button " id="login-buttons-facebook">
                <div class="login-image" id="login-buttons-image-facebook"></div>

                <span class="text-besides-image sign-in-text-facebook" id="sign-in-facebook">Sign in with Facebook</span>

            </div>
        </div>-->
    </div>
</template>